
div{
    border-radius: 30px ;
    width: 40vm;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    padding: 20px;
    height: 100pxpx;
    text-align:center;
  background: #ff2f5c;
  
 
}

a{
  color: white;
  text-decoration: none;

}
 
.dad{
  background-color: rgb(145, 22, 73);
  margin: 3vh;
}
.dow{
  border-radius: 3px; 
  border-color: chartreuse;
  background: greenyellow;
  padding: 2px;
  margin: 200px;
}


a:hover{
  text-decoration: none;
  color: white;
}
span{
  margin-bottom: 20px;
  padding: 10px;
}
@media only screen and (min-width: 300px)and (max-width: 1100px) {
  .dow {
    border-radius: 3px; 
    border-color: chartreuse;
    background: greenyellow;
    padding: 2px;
    margin: 8px;
  }
}